body {
    margin: 8px auto;
    background: white;
    width: 800px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    background-color: black;
}

body a {
    color: lightblue;
    text-decoration: underline;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

html {
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Lucida Fax, serif;
    color: white;
}

nav a {
    padding: 10px;
    font-size: 20px;
    margin-right: 10px;
    background-color: rgb(6, 6, 78);
    text-decoration: none;
    color: white;
    font-variant: small-caps;
}
